@import "../../colors";
@import "../../frameless";

.reviewer {
    .reviewer-footer {
        margin-top: 1.5rem;
        text-align: center;
    }

    dl {
        dt {
            margin-top: 1.5rem;

            // 每个 dt 顶部加分隔线，第一个不加
            border-top: 2px solid #e5e5e5;
            padding-top: 1.5rem;
        }
    }

    table {
        width: 100%;
        border: 1px;
        
        tr {
            text-align: center;
        }
    }

    .red-item {
        color: red;
    }
}

@media #{$medium-and-smaller}{
    .reviewer-footer {
        img {
            display: none;
        }
    }
}
