@import "../../colors";

.projects-list {
    max-height: 800px;
    overflow: auto;
    $project-width: 144px;
    $project-height: 108px;

    div[info=info] {
        position: relative;
        border-bottom: 1px solid #dddddd;
        margin: 5px;
        height: $project-height;

        .thumbnail-image {
            img {
                margin-bottom: 2px;
                border: 1px solid $ui-border;
                width: $project-width;
                height: $project-height;
            }
        }

        .info {
            position: absolute;
            top: 0;
            left: calc(10px + $project-width);
        }
    }

    div.right-top {
        float: right;
    }

    .not-passed {
        color: red;
    }

    .passed {
        color: green;
    }

    .not-checked {
        color: orange;
    }
}
