@import "../../colors";
@import "../../frameless";

.mechanism {
    .mechanism-footer {
        margin-top: 1.5rem;
        text-align: center;
    }

    dl {
        dt {
            margin-top: 1.5rem;
        }
    }
}

@media #{$medium-and-smaller}{
    .mechanism-footer {
        img {
            display: none;
        }
    }
}
